*/config.ini
*~
*.pro.user
*.o
third-party/**
qt/**
/.project
bin/debug/**
bin/release/host/client/**
!bin/release/host/client/games
!bin/release/host/client/games/**
bin/release/host/server/**
bin/release/host/admin/**
bin/release/host/waiter/**
bin/release/host/*.a
bin/tmp/**
Makefile-build-rotable*
Makefile
games/bottle_spin/build-tet**
build*/
